{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'createlisting' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Listing Title" required> <br>
        <input type="text" name="description" placeholder="Listing Description" required> <br>
        <input type="number" name="price" placeholder="Starting Bid" required> <br>
        <input type="text" name="image" placeholder="Image URL (Optional)"> <br>
        <select name="category" id="" required>
            {% for category in category %}
                <option value="{{ category.id }}">{{ category }}</option>
            {% endfor %}
        </select> <br>
        <input type="submit" value="Create Listing">
    </form>
{% endblock %}

